.register {
    min-width: 40%;
    text-align: center;

    .from {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        }

        input {
            width: 30%;
        }
}